.banner:after {
    content: '';
    position: absolute;
    display: block;
    width: 100svw;
    height: 100svh;
    /* background: #282727;
    background: radial-gradient(circle, #28272712 56%, #000000 100%); */

    background: rgb(40, 39, 39);
    background: radial-gradient(circle, #282727a3 56%, rgba(0, 0, 0, 1) 100%);
}

.banner::before {
    bottom: -1em;
    content: "";
    display: inline-block;
    position: absolute;
    height: 12em;
    width: calc(100% + 50em);
    left: 50%;
    background: rgb(7,11,13);
    background: linear-gradient(0deg, rgba(7,11,13,1) 28%, rgba(0,0,0,0) 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.modal:after {
    content: '';
    position: absolute;
    display: block;
    width: 100svw;
    height: 100svh;
    /* background: #282727;
    background: radial-gradient(circle, #28272712 56%, #000000 100%); */

    background: rgb(40, 39, 39);
    background: radial-gradient(circle, #2827277e 56%, rgba(0, 0, 0, 0.801) 100%);
}