@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Gotham-Bold';
    src: url(./assets/fonts/Gotham-Bold.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url(./assets/fonts/Gotham-Light.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(./assets/fonts/GothamBook.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url(./assets/fonts/GothamMedium.woff2) format("woff2");
    font-display: swap;
}

body {
    height: 100%;
    overflow-x: clip;
}

/* Estilizando as bolinhas normais */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #cccccc8f;
    /* Cor padrão */
    opacity: 1;
    /* Garantir que o bullet esteja visível */
    transition: background-color 0.3s ease;
}

/* Estilizando o bullet ativo */
.swiper-pagination-bullet-active {
    background-color: #7c0101;
    /* Cor para o bullet ativo */
    width: 16px;
    height: 16px;
    /* Tamanho maior para destacar */
}

.swiperDestaque .swiper-pagination{
    position: relative;
    margin-top: 1.5em;
}


@tailwind utilities;